extends partials/layout.pug

block content
  each comment in comments
    .col.s12.m7
      .card.horizontal
        .card-stacked
          .card-content
            p #{comment.name}
            p #{comment.comment}

  .row
    form.col.s12(action=`/comments/${postID}/` method="POST")
      .row
        .input-field.col.s6
          input#first_name2.validate(type='text', name='name')
          label(for='first_name2') First Name
        .input-field.col.s12
          textarea#textarea1.materialize-textarea(name='comment')
          label(for='textarea1') New Comment

      input(type="submit")
