extends partials/layout.pug

block content
  .col.s12.m7
    .card.horizontal
      .card-image
        img(src='http://lorempixel.com/100/190/nature/6')
      .card-stacked
        .card-content
          p I am a very simple card. I am good at containing small bits of information.
        .card-action
          a(href='#') Upvote
          a(href='#') Downvote
