extends partials/layout.pug

block content
  each post in data
    .col.s12.m7
      .card.horizontal
        .card-image
           img(src='#{post.image}')
        .card-stacked
          .card-content
            p #{post.title}
          .card-action
            a(href='#') Upvote
            a(href='#') Downvote
